@tailwind base;
@tailwind components;
@tailwind utilities;

/* ensurse the background color covers the whole page */
html {
	background-color: rgb(238 229 221);
}

/* overrides some dumb styling with links in the bootstrap css */
a {
	color: none;
	text-decoration: none;
}
a:hover {
	color: inherit;
}

/* shamelessly stolen from bootstrap.min.css to fix the close button not appearing in modals */
.btn-close{box-sizing:content-box;width:1em;height:1em;padding:.25em .25em;color:#000;background:transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;border:0;border-radius:.375rem;opacity:.5}

@layer components {
	.button-primary {
		@apply py-3 px-4 w-3/4 shadow-sm text-sm font-medium rounded-md text-background-200 bg-green-700 hover:bg-green-800;
	}
}