@tailwind base;
@tailwind components;
@tailwind utilities;

/* ensurse the background color covers the whole page */
html {
	background-color: rgb(238 229 221);
}

/* overrides some dumb styling with links in the bootstrap css */
a {
	color: none;
	text-decoration: none;
}
a:hover {
	color: inherit;
}


/* override tiptap nonsense with headers... this is probably a bad way of doing this */
h1,h2,h3,h4,h5,h6 {
	font-weight: bolder;
}

h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.17em;
}
h4 {
	font-size: 1em;
}
h5 {
	font-size: 0.87em;
}
h6 {
	font-size: 0.67em;
}

/* override tiptap nonsense with lists as well... this is probably a bad way of doing this */
ul {
	list-style: disc;
	margin-left: 1rem;
}
ol {
	list-style: decimal;
	margin-left: 1rem;
}

/* another sloppy tiptap override*/
blockquote {
	background: #F6F2EE;
	border-left: 0.25rem solid #ccc;
	padding: 0 0.5rem;
}

code {
	color: inherit;
}

table {
	border-collapse: collapse;
	margin: 0;
	overflow: hidden;
	table-layout: fixed;
	width: 100%;
}

td, th {
	border: 2px solid #ced4da;
	box-sizing: border-box;
	min-width: 1em;
	padding: 3px 5px;
	position: relative;
	vertical-align: top;
}

th {
	background-color: #f1f3f5;
	font-weight: bold;
	text-align: left;
}

/* shamelessly stolen from bootstrap.min.css to fix the close button not appearing in modals */
.btn-close{box-sizing:content-box;width:1em;height:1em;padding:.25em .25em;color:#000;background:transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;border:0;border-radius:.375rem;opacity:.5}
